<head>
  <meta charset="utf-8">

  {% capture title %}
    {%- if page.title -%}
      {{ page.title | strip_html | xml_escape  }} - {{ site.title | strip_html | xml_escape  }}
    {%- else -%}
      {{ site.title | strip_html | xml_escape }}
    {%- endif -%}
  {% endcapture %}

  <title>{{ title }}</title>
  <meta name="robots" content="none">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">

  <link href="/assets/css/main.css" rel="stylesheet" />
</head>
