body {
  font-family: Raleway, Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #191919;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.banner-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.wrapper-banner {
  display: block;
  background: url("../img/banner.jpg") no-repeat center center;
  background-size: cover;
}

.banner-logo {
  width: 50%;
}

.banner-logo img {
  max-width: 100%;
}


.banner-text-block {
  display: block;
  position: relative;
  padding: 0 15px;
  text-align: left;
  overflow: hidden;
}


.wrapper-banner .banner {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 100px 0;
}

.banner-text-block h1 {
  font-family: "Scope One", Arial, sans-serif;
  z-index: 5;
  white-space: nowrap;
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
  color: rgb(51, 51, 51);
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: none 0s ease 0s;
  margin: 0;
  padding: 0;
  opacity: 1;
  transform-origin: 50% 50% 0;
}

.banner-text-block p.big {
  font-family: "Scope One", Arial, sans-serif;
  white-space: normal;
  font-size: 62px;
  line-height: 66px;
  font-weight: 400;
  color: rgb(228, 54, 52);
  letter-spacing: 1px;

  z-index: 6;
  text-transform: uppercase;
  transition: none 0s ease 0s;
  margin: 0;
  padding: 0;
  opacity: 1;
  transform-origin: 50% 50% 0;
}

.banner-text-block p.small {
  font-family: "Scope One", Arial, sans-serif;
  z-index: 7;
  white-space: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  letter-spacing: 0;
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: inherit;
  margin: 0;
  padding: 0;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0;
}
